name: Reusable Workflow

on:
  workflow_call:
    inputs:
      node:
        required: true
        type: string
      os: 
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Output the input values
        run: |
          echo "The node version to use is: ${{ inputs.node }}"
          echo "The operating system to use is: ${{ inputs.os }}"
